<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ BABY_NAME_POSSESSIVE }} Photos</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100% !important;
        }

        .content {
            width: 100%;
            max-width: 600px;
        }

        body[yahoo] .class {
        }

        @media only screen and (min-device-width: 601px) {
            .content {
                width: 600px !important;
            }
        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body yahoo style="margin: 0; padding: 0;">
<!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
<![endif]-->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 20px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#b29fff"
                        style="border-radius: 15px 45px 0 0;padding: 15px; font-size: 200%;font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif!important;">
                        <a href="https://{{ BASE_URL }}" style="text-decoration:none;color: #f7f7f7;">{{ BABY_NAME_POSSESSIVE }}
                            Photos</a></td>
                </tr>
                <tr>
                    <td bgcolor="#f7f7f7" style="padding: 40px 30px 40px 30px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="padding: 20px 0 15px 0; color: #353D40; font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif!important; line-height: 130%;">
                                    {{ greeting }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 15px 0; color: #353D40; font-family: Helvetica, Arial, sans-serif; line-height: 130%;">
                                    {{ message }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="padding: 20px 0 0 0; color: #353D40; font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif!important; line-height: 130%;">
                                                            {{ endGreeting }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 0 15px 0; color: #353D40; font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif!important; line-height: 130%;">
                                                            {{ endSig }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#b29fff" style="padding: 30px 30px 30px 30px;border-radius: 0 0 15px 45px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #f7f7f7; font-family: Helvetica, Arial, sans-serif; line-height: 130%; font-size: 85%;">
                                    {{ COPYRIGHT_MESSAGE }}<br/>
                                </td>
                                <td style="color: #f7f7f7; font-family: Helvetica, Arial, sans-serif; line-height: 130%; font-size: 85%; padding-left:10px">{{ opt_out_message }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</body>

</html>