{% extends 'base_template.html' %}
{% load static %}
{% load humanize %}
{% load poop_strings %}
{% load names %}
{% block nav_header %}{% block title %}{{ BABY_NAME|possessive }} Progress{% endblock %}{% endblock %}
{% block nav_header_url %}{% url 'data_dashboard' %}{% endblock %}
{% block extra_head %}
    <style>
    </style>
    <link rel="stylesheet" href="{% static 'css/photos_v5.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script>
        let iOS{% if iOS %} = true{% endif %};
        let last_update = {{ last_update }};
        let poop_smallest = {% if POOP_TYPES.0 %} '{{ POOP_TYPES.0 }}' {% else %} 'small' {% endif %};
        let default_feeding_type = '{{ default_feeding_type }}';
        let default_feeding_amount = {{ default_feeding_amount }};
        {% if last_poop_timestamp %}let last_poop = {{ last_poop_timestamp }};{% endif %}
    </script>
{% endblock %}
{% block nav_links %}
    {% if not HIDE_PHOTOS %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'photos_main' %}">Photos</a>
    </li>
    {% endif %}
    {% if not HIDE_REGISTRY %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registry_page' %}">Registry</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="#" id="datepicker">Date</a>
    </li>
    {% if request.user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/data">Admin</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
<div class="row" style="color:black">
    {% if date %}
    <div class="col-12">
        <div class="card-header" style="color:white;">
            Data for {{ date }}
        </div>
    </div>
    {% endif %}
    <div class="col-12 col-lg-4"><div class="card" style="margin-top:1em;margin-bottom:1em;border-radius:1em">
        <div class="card-header px-0">
            <div class="row">
                <div class="col-sm-10 col-8" data-toggle="collapse"
                     data-target=".collapse_0" style="cursor:pointer">
                    Feedings <b style="color:{% if total_ounces < 12 %}red{% elif total_ounces < 15 %}orange{% elif total_ounces < 18 %}darkgoldenrod{% else %}darkgreen{% endif %}">{{ total_ounces|floatformat:2 }}</b> oz. total
                </div>
                <div class="col-sm-2 col-4 text-right">
                    <a href="{% url 'trending_feeding' %}" class="btn btn-secondary" style="border-radius:1em">
                        📊
                    </a>
                </div>
                {% if feedings %}
                <div class="col-12 px-0 px-md-3">
                    <div class="row collapse show collapse_0" style="font-size:0.85rem">
                        <div class="col-4">Time</div>
                        <div class="col-4">Amount</div>
                        <div class="col-4">Person</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body collapse show collapse_0" style="margin:0;padding:0">
            <ul class="list-group list-group-flush">
                {% for feeding in feedings %}
                <button type="button" class="list-group-item list-group-item-action px-0 px-md-3"
                        data-start="{{ feeding.start|date:"c" }}"
                        data-amount="{{ feeding.amount }}"
                        {% if feeding.type == 'soft-food' %}data-amount_in_oz="{{ feeding.amount_in_ounces }}"{% endif %}
                        data-extra="{% if feeding.extra %}{{ feeding.extra }}{% endif %}"
                        data-length_of_feeding="{{ feeding.length_of_feeding }}"
                        data-feeding_type="{{ feeding.type }}"
                        onclick="openFeedingModal({{ feeding.id }}, this)"
                ><div class="row{% if feeding.extra %} extra-notes{% endif %}">
                    <div class="col-4">{{ feeding.start|date:'H:i' }}</div>
                    <div class="col-4">{% if feeding.type != 'breast' %}{{ feeding.amount_in_ounces }} oz.{% else %}{{ feeding.length_of_feeding }} <small>mins of boob</small>{% endif %}</div>
                    <div class="col-4">{{ feeding.entered_by.first_name }}</div>
                </div></button>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer px-0">
            <div class="row">
                <div class="col-xl-4 col-8">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedingModal"
                            onclick="auto_populate_time('feeding_start')">
                        Add New
                    </button>
                </div>
                <div class="d-none d-xl-block col-xl-6" style="text-align:right;padding:0">
                    <div class="collapse collapse_0_extra" style="margin-top:0.8em;font-size:0.75em">
                        The cutoff for a feeding to count for "today" was at midnight.
                    </div>
                </div>
                <div class="col-xl-2 col-4 text-right">
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                            data-target=".collapse_0_extra" aria-expanded="false"
                            aria-controls="collapse_0_extra" style="border-radius:1em;display:inline;font-size:0.75em">
                        ?
                    </button>
                </div>
                <div class="d-xl-none d-block col-12 px-2" style="text-align:right;padding:0">
                    <div class="collapse collapse_0_extra" style="margin-top:0.8em;font-size:0.75em">
                        The cutoff for a feeding to count for "today" was at midnight.
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <div class=" col-12 col-lg-4"><div class="card" style="margin-top:1em;margin-bottom:1em;border-radius:1em">
        <div class="card-header px-0">
            <div class="row">
                <div class="col-sm-10 col-8" data-toggle="collapse"
                     data-target=".collapse_1" style="cursor:pointer">
                    Sleep <b style="color:{% if total_sleep < 10 %}red{% elif total_sleep < 11 %}orange{% elif total_sleep < 12 %}darkgoldenrod{% elif total_sleep < 16 %}darkgreen{% elif total_sleep < 18 %}darkgoldenrod{% else %}red{% endif %}">{{ total_sleep|floatformat:2 }}</b> hours total
                </div>
                <div class="col-sm-2 col-4 text-right">
                    <a href="{% url 'trending_sleep' %}" class="btn btn-secondary" style="border-radius:1em">
                        📊
                    </a>
                </div>
                {% if sleeps %}
                <div class="col-12 px-0 px-md-3">
                    <div class="row collapse show collapse_1" style="font-size:0.85rem">
                        <div class="col-4">Start</div>
                        <div class="col-4">End</div>
                        <div class="col-4">Length</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body collapse show collapse_1" style="margin:0;padding:0">
            <div class="list-group list-group-flush">
                {% for sleep in sleeps %}
                <button type="button" class="list-group-item list-group-item-action px-0 px-md-3"
                        data-start="{{ sleep.start|date:"c" }}"
                        data-end="{{ sleep.end|date:"c" }}"
                        data-temperature="{{ sleep.temperature }}"
                        data-extra="{% if sleep.extra %}{{ sleep.extra }}{% endif %}"
                        data-sleep_type="{{ sleep.type }}"
                        onclick="openSleepModal({{ sleep.id }}, this)"
                ><div class="row"{% if sleep.extra %} style="background-color:lightyellow"{% endif %}>
                    <div class="col-4">{{ sleep.start|date:'H:i' }}</div>
                    <div class="col-4">{{ sleep.end|date:'H:i' }}</div>
                    <div class="col-4">{% if sleep.end %}{{ sleep.length }}{% else %}<i>ongoing</i>{% endif %}{% if sleep.type == 'overnight' %} <small><i>overnight</i></small>{% endif %}</div>
                </div></button>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer px-0">
            <div class="row">
                <div class="col-xl-4 col-8">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#sleepModal">
                        Add New
                    </button>
                </div>
                <div class="d-none d-xl-block col-xl-6 text-right" style="text-align:right;padding:0">
                    <div class="collapse collapse_1_extra" style="margin-top:0.8em;font-size:0.75em">
                        The cutoff for sleep to count for "today" was yesterday at {{ sleep_cutoff|date:"H:i" }}
                    </div>
                </div>
                <div class="col-xl-2 col-4 text-right">
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                            data-target=".collapse_1_extra" aria-expanded="false"
                            aria-controls="collapse_1_extra" style="border-radius:1em;display:inline;font-size:0.75em">
                        ?
                    </button>
                </div>
                <div class="d-xl-none d-block col-12 px-2" style="text-align:right;padding:0">
                    <div class="collapse collapse_1_extra" style="margin-top:0.8em;font-size:0.75em">
                        The cutoff for sleep to count for "today" was yesterday at {{ sleep_cutoff|date:"H:i" }}
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <div class=" col-12 col-lg-4"><div class="card" style="margin-top:1em;margin-bottom:1em;border-radius:1em">
        <div class="card-header px-0">
            <div class="row">
                <div class="col-xl-5 col-sm-10 col-8" data-toggle="collapse"
                     data-target=".collapse_2" style="cursor:pointer">
                    Poop currently at <b style="color:{% if total_poop_score < 20 %}red{% elif total_poop_score < 60%}orange{% elif total_poop_score < 80 %}darkgoldenrod{% else %}darkgreen{% endif %}">{{ total_poop_score|floatformat:0 }}%</b>
                </div>
                <div class="d-none d-xl-block col-xl-5 col-0"  data-toggle="collapse"
                     data-target=".collapse_2" style="cursor:pointer;text-align:right;padding:0;padding-right:10px;">
                    {% if last_poop %}<small><i>Last poop <span class="last_poop">{{ last_poop|floatformat:1 }}</span> hrs. ago</i></small>{% endif %}
                </div>
                <div class="col-sm-2 col-4 text-right">
                    <a href="{% url 'trending_poop' %}" class="btn btn-secondary" style="border-radius:1em">
                        📊
                    </a>
                </div>
                <div class="d-xl-none d-block col-12" style="text-align:left;padding:0;padding-left:15px;">
                    {% if last_poop %}<small><i>Last poop <span class="last_poop">{{ last_poop|floatformat:1 }}</span> hrs. ago</i></small>{% endif %}
                </div>
                {% if poops %}
                <div class="col-12 px-0 px-md-3">
                    <div class="row collapse show collapse_2" style="font-size:0.85rem">
                        <div class="col-4">Time</div>
                        <div class="col-4">Size</div>
                        <div class="col-4">Person</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body collapse show collapse_2" style="margin:0;padding:0">
            <ul class="list-group list-group-flush">
                {% for poop in poops %}
                <button type="button" class="list-group-item list-group-item-action px-0 px-md-3"
                        data-blowout="{{ poop.blowout }}"
                        data-diaper_size="{{ poop.diaper_size }}"
                        data-start="{{ poop.start|date:"c" }}"
                        data-extra="{% if poop.extra %}{{ poop.extra }}{% endif %}"
                        data-poop_type="{{ poop.type }}"
                        onclick="openPoopModal({{ poop.id }}, this)"
                >
                <div class="row"{% if poop.extra %} style="background-color:lightyellow"{% endif %}>
                    <div class="col-4">{{ poop.start|date:'H:i' }}{% if poop.blowout %} <small><b style="color:red">blowout 🎉</b></small>{% endif %}</div>
                    <div class="col-4">
                        {% with poop_count=POOP_TYPES|index_base_1:poop.type %}{{ "💩"|multiply:poop_count }}{% endwith %}
                    </div>
                    <div class="col-4">{{ poop.entered_by.first_name }}</div>
                </div></button>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer px-0">
            <div class="row">
                <div class="col-xl-4 col-8">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#poopModal"
                            onclick="auto_populate_time('poop_start')">
                        Add New
                    </button>
                </div>
                <div class="d-none d-xl-block col-xl-6" style="text-align:right;padding:0">
                    <div class="collapse collapse_2_extra" style="margin-top:0.8em;font-size:0.75em">
                        The cutoff for poop to count for "today" was at {{ poop_cutoff|date:"H:i" }}
                    </div>
                </div>
                <div class="col-xl-2 col-4 text-right">
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                            data-target=".collapse_2_extra" aria-expanded="false"
                            aria-controls="collapse_2_extra" style="border-radius:1em;display:inline;font-size:0.75em">
                        ?
                    </button>
                </div>
                <div class="d-xl-none d-block col-12 px-2" style="text-align:right;padding:0">
                    <div class="collapse collapse_2_extra" style="margin-top:0.8em;font-size:0.75em">
                        The cutoff for poop to count for "today" was at {{ poop_cutoff|date:"H:i" }}
                    </div>
                </div>
            </div>
        </div>
    </div></div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <small>Times displayed in {{ CURRENT_TIMEZONE }}</small>
    </div>
</div>
{% endblock %}
{% block extra_footer %}
    <div id="loading-cover" class="loading-cover" style="display:none;">
        <div class="container loading-container">
            <div class="spinner-border"></div><span> Refreshing...</span>
        </div>
    </div>
    {% include 'data/modals/feeding_modal.html' %}
    {% include 'data/modals/sleep_modal.html' %}
    {% include 'data/modals/poop_modal.html' %}
    <script src="{% static 'js/submit_buttons_v2.js' %}"></script>
    <script src="{% static 'js/dashboard_v4.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    {% if last_poop %}<script>
        setInterval(function() {
            let time_elapsed = ((Date.now()/1000 - last_poop ) / 3600).toFixed(1);
            Array.from(document.getElementsByClassName('last_poop')).forEach((e) => e.innerText = time_elapsed);
        }, 360000);
    </script>{% endif %}
{% endblock %}