{% load static %}
{% load names %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block title %}{{ BABY_NAME|possessive }} Site{% endblock %}</title>
    {% include 'top_static.html' %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body><div style="height:100%;background-color:#343a40;color:white;">
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% block nav_header_url %}/{% endblock %}">{% block nav_header %}{{ BABY_NAME|possessive }} Site{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% block nav_links %}
            {% if not HIDE_PHOTOS %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'photos_main' %}">Photos</a>
            </li>
            {% endif %}
            {% if not HIDE_DATA %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'data_dashboard' %}">Data</a>
            </li>
            {% endif %}
            {% if not HIDE_REGISTRY %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registry_page' %}">Data</a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'user_create' %}">Create User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/data">Admin</a>
                </li>
            {% endif %}
        {% endblock %}
        </ul>
      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#logoutModal" style="cursor:pointer">Logout</a>
            </li>
        </ul>
      {% endif %}
    </div>
</nav>
{% endblock %}
{% block alt_content %}
    <div class="row main-row" style="margin:0">
        <div class="col-12 p-0 main-col">
            {% block messages %}
                {% include 'messages.html' %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block bottom_jumbotron %}
    <div class="jumbotron bottom">
        <p class="lead">Thanks for visiting!</p>
    </div>
    {% endblock %}
{% endblock %}
</div>
{% include 'bottom_static.html' %}
{% block extra_footer %}{% endblock %}
{% include 'users/logout_modal.html' %}
</body>
</html>