{% extends "info_template.html" %}
{% block info %}
    <h1 class="card-title">Something went wrong</h1>
    <p class="lead">You reached this page due to an error. We apologize
        {% if SENTRY_BACKEND_DSN %} and have sent an alert to our teams about this error{% endif %}.</p>
    {% if request.sentry.id %}
        <p>If you need assistance, you may reference this error as
        <strong>{{ request.sentry.id }}</strong>.</p>
        <script>
        Sentry.showReportDialog({
            eventId: '{{ request.sentry.id }}',
            {% if SENTRY_BACKEND_DSN %}dsn: '{{ SENTRY_BACKEND_DSN }}', {% endif %}
        });
        </script>
    {% endif %}
{% endblock %}