{% extends 'base_template.html' %}
{% block content %}
        <div class="row justify-content-md-center my-5" style="color:black;">
            <div class="col-12 col-xl-8 my-5">
                <div class="card my-5">
                    <div class="card-body">
                        {% block info %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}