{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible mt-1" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}