{% extends "info_template.html" %}
{% load static %}
{% load names %}
{% block extra_head %}
{% endblock %}
{% block title %}Error: {{ BABY_NAME|possessive }} Site{% endblock %}

{% block info %}
    <h1 class="card-title">Page does not exist</h1>
    <p class="lead">This link is not valid. If you think this is in error, please let us know.</p>
{% endblock %}