{% extends "info_template.html" %}
{% block extra_head %}
    <script>throw 'This is a test error from the front-end'</script>
{% endblock %}
{% block info %}
    <h1 class="card-title">Test frontend error page.</h1>
    <p class="lead">There should be a javascript error on this page.</p>
{% endblock %}