<script
  src="https://browser.sentry-cdn.com/6.14.3/bundle.min.js"
  integrity="sha384-tQILGJtvJ/sxTH3nxp1S0wEsKh952pAem0nZQ94SbVR0luv8SF96Q0i5f9iFkNAn"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<style>
    {% if BOTTOM_IMAGE %}.jumbotron.bottom {background-image: url("{{ BOTTOM_IMAGE }}");} {% endif %}
    {% if TOP_IMAGE %}.jumbotron.top {background-image: url("{{ TOP_IMAGE }}");} {% endif %}
</style>
<script>
    {% if SENTRY_FRONTEND_DSN %}
    Sentry.init({
            dsn: '{{ SENTRY_FRONTEND_DSN }}',
        {% if RAVEN_RELEASE %}release: '{{ RAVEN_RELEASE }}',{% endif %}
        })
    {% endif %}
    Sentry.setUser({email: '{{ request.user.email }}', id: '{{ request.user.id }}'})

</script>