.loading-cover {
    z-index: 2000;
    padding-top: 25%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffc9c9a6;
    color: black;
    vertical-align: middle;
    text-align: center;
}

.loading-container {
    padding: 3px;
    max-width: 50%;
    background-color: #ffffffa6;
    border-radius: 5px;
}

.dont-show {
    display: none
}

.extra-notes {
    background-color: lightyellow;
}