body {
    font-family: Helvetica, Arial, sans-serif;
}

.jumbotron.top {
    padding-bottom: 1em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

.jumbotron.bottom {
    margin-top: 32px;
    margin-bottom: 0;
    height: 500px;
    background-size: cover;
}

@media (max-width: 1650px) {
    .headerText {
        color: black;
        background-color: #FFFFFFDE;
        border-radius: 10px;
        padding: 2em;
    }
}
@media (max-width: 1200px) {
    .display-4 {
        font-size: 2.25em;
    }
}
@media (max-width: 510px) {
    .display-4 {
        font-size: 1.75em;
    }
}
.main-row {
    margin-left: 0;
    margin-right: 0;
}
.main-col {
    color:black;
}