.dont-show {
    display: none
}
.card {
    margin-top:1em;margin-bottom:1em
}
.bin-legend{
   height:62px;
}
.bin-legend{
    width:100%;
}
.bin-legend> ul{
    padding: 0;
    text-align: center;
}
.bin-legend {
  width:100%;
  bottom:10%;
}
.bin-legend li {
    font-size: 0.8rem;
    margin: 4px 3px;
    display: inline-table;
}
.bin-legend li span {
    position: relative;
    padding: 3px 10px;
    margin-right: 2px;
    border-radius: 13px;
    color: white;
    z-index: 2;
    font-size: 11px;
}
.bin-title {
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}