html, body {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.row {
    margin: 0;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 1em;
    font-family: sans-serif;
    margin: 2em auto;
    padding: 2em;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}