body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #343a40;
}

.outer-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    color: black;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.main-row {
    margin-left: 0;
    margin-right: 0;
}
.row {
    margin:0;
}