{% load index %}
<div class="container" style="background-color:{{ colors|index:forloop.counter0 }};border-radius:10px;margin-bottom:2em;padding-bottom:1em;">
    <div class="row" data-toggle="collapse" data-target="#collapse_{{ forloop.counter0 }}" style="cursor:pointer">
        <div class="col-0 col-md-4">
        </div>
        <div class="col-8 col-md-4">
            <h1 class="text-md-center text-sm-left categoryText" style="margin-top:20px">{{ category }}</h1>
        </div>
        <div class="col-4 col-md-4 text-right" style="padding-top:1em">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#collapse_{{ forloop.counter0 }}" aria-expanded="false"
                    aria-controls="collapse_{{ forloop.counter0 }}">
                Expand
            </button>
        </div>
    </div>
    <div class="collapse" id="collapse_{{ forloop.counter0 }}">
        <hr>
        <div class="row mx-auto text-center d-flex justify-content-center">
            {% for item in items %}
                {% include 'registry/item_detail.html' %}
            {% empty %}
                <p>No items currently on the registry for {{ category }}!</p>
            {% endfor %}
            <hr>
        </div>
    </div>
</div>