{% load index %}
<div class="container" style="background-color:lightblue;border-radius:10px;">
        <div class="row mx-auto d-flex justify-content-center" style="padding-top:1em">
            <div class="col-8 text-left">
                <p class="lead">Don't see anything you like but still want to give a gift?</p>
                <p>Amazon giftcards are always appreciated for those unknown future needs!</p>
            </div>
            <div class="col-4 text-right align-middle" style="padding-top:1em">
                <button class="btn btn-light" type="button" onclick='window.open("https://www.amazon.com/gift-cards/")'>Buy an Amazon gift card</button>
            </div>
            <hr>
        </div>
</div>