{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block nav_header %}{% block title %}{{ PARENT_NAMES|possessive }} baby registry{% endblock %}{% endblock %}
{% block extra_head %}<link href="{% static 'css/registry_v2.css' %}" rel="stylesheet">{% endblock %}
{% block nav_header_url %}{{ request.path }}{% endblock %}
{% block nav_links %}
    {% if not HIDE_PHOTOS %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'photos_main' %}">Photos</a>
    </li>
    {% endif %}
    {% if not HIDE_DATA %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_dashboard' %}">Data</a>
    </li>
    {% endif %}
    {% if request.user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_create' %}">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/registry/item">Admin</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
<div class="jumbotron top">
    <div class="headerText">
        <h4 class="display-4">Welcome to {{ PARENT_NAMES|possessive }} baby registry!</h4>
        <p class="lead">Browse through the items and if you find something you'd like to donate to the cause click
            <i><b>Claim
                Item</b></i> and fill in the form.</p>
        {% if PARENT_ADDRESS1 or PARENT_ADDRESS2 %}<p>Feel free to ship the item to yourself or to our address at:</p>{% endif %}
        {% if PARENT_ADDRESS1 %}<p style="padding-left:35px">{{ PARENT_ADDRESS1 }}</p>{% endif %}
        {% if PARENT_ADDRESS2 %}<p style="padding-left:35px">{{ PARENT_ADDRESS2 }}</p>{% endif %}
        {% if PARENT_EMAIL %}<p>Feeling lost or have questions, please reach out at <a href="mailto:{{ PARENT_EMAIL }}">{{ PARENT_EMAIL }}</a>!{% endif %}
        </p>
        <small>The links for the "Visit Item" buttons are just examples, you can buy from anywhere and click the Claim Item to track it!</small>
    </div>
</div>
<div class="container">
    {% for category, items in categories.items %}
        {% include 'registry/category_detail.html' %}
    {% endfor %}
    {% include 'registry/category_other.html' %}
</div>
{% endblock %}