{% load humanize %}
<div class="{% if items|length > 1 %}col-lg-4{% else %}col-lg-4{% endif %} col-md-12"
     style="margin-bottom:1em;">

    <div class="card"
         style="min-height:180px;{% if item.when_bought %}background-color:lightgrey;font-style:italic;color:grey{% endif %}">
        {% if item.image %}
          <img class="card-img-top" src="{{ item.image_thumbnail.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body" style="">
            <div class="card-title">
                <h5>{{ item.name }}</h5>
            </div>
            {% if item.when_bought %}
                <p>Item bought {% if item.when_bought %}{{ item.when_bought }}{% endif %}</p>
            {% elif item.est_price %}
                <p>Est. price: ${{ item.est_price|floatformat:2|intcomma }}</p>
            {% endif %}
            {% if item.description %}
              <hr>
              <small>{{ item.description }}</small>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="row mx-auto text-center">
                <div class="col-{% if not item.when_bought %}6{% else %}12{% endif %}">
                    <button type="button" class="btn btn-primary" onclick="window.open('{{ item.url }}');">Visit
                        Item
                    </button>
                </div>
                {% if not item.when_bought %}
                    <div class="col-6">
                        <button type="button" class="btn btn-success" style="color:white"
                                data-toggle="modal" data-target="#Modal_{{ item.id }}">Claim Item
                        </button>
                    </div>
                    <div class="modal fade" id="Modal_{{ item.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="Modal_{{ item.id }}_Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form action="/registry_claim" method="post">
                                {% csrf_token %}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Modal_{{ item.id }}_Label">
                                            Claim {{ item.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="itemID" id="itemID_{{ item.id }}"
                                               value="{{ item.id }}"/>
                                        <div class="form-group">
                                            <label for="claim_first_name">First Name:</label>
                                            <input class="form-control" name="claim_first_name"
                                                   id={{ item.id }}_claim_first_name"
                                                   aria-describedby="nameHelp" type="text"
                                                   placeholder="First Name" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="claim_last_name">Last Name:</label>
                                            <input class="form-control" name="claim_last_name"
                                                   id={{ item.id }}_claim_last_name"
                                                   aria-describedby="nameHelp" type="text"
                                                   placeholder="Last Name" required/>
                                            <small id="nameHelp" class="form-text text-muted">We
                                                won't share your name on the site, but will take
                                                note internally to thank you!</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="claim_email">Email address</label>
                                            <input type="email" class="form-control"
                                                   id="{{ item.id }}_claim_email"
                                                   aria-describedby="emailHelp" name="claim_email"
                                                   placeholder="Enter email (optional)"/>
                                            <small id="emailHelp" class="form-text text-muted">We'll
                                                never share your email with anyone else.</small>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Claim Item
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>