<div class="modal fade" data-backdrop="static" id="{{ kind }}Modal" tabindex="-1" aria-labelledby="{{ kind }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ kind }}ModalLabel">Add new {{ kind|capfirst }} entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/data/save{% if date %}?date={{ date|date:"Y-m-d" }}{% endif %}" method="post">
        <input type="hidden" name="typename" value="{{ kind }}">
        <input type="hidden" name="id" id="{{ kind }}_id" value="">
        {% csrf_token %}
          <div class="modal-body">
                {{ modal_body }}
          </div>
          <div class="modal-footer">
              <div class="row no-gutters" style="width:100%">
                  <div class="col">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  <div class="col text-center">
                      <button type="button" id="{{ kind }}_delete_button" class="btn btn-danger"
                              style="display:none" data-toggle="modal" data-target="#{{ kind }}DeleteModal">
                          Delete
                      </button>
                  </div>
                  <div class="col text-right">
                      <button type="submit" class="btn btn-primary btn-submit" style="white-space:nowrap">Save</button>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" data-backdrop="static" id="{{ kind }}DeleteModal" tabindex="-1" aria-labelledby="{{ kind }}DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ kind }}DeleteModalLabel">Delete {{ kind|capfirst }} entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body">
                Do you really want to delete this entry?
          </div>
          <div class="modal-footer">
              <div class="row no-gutters" style="width:100%">
                  <div class="col">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                  <div class="col text-right">
                      <button type="button" id="{{ kind }}_confirm_button" class="btn btn-danger"
                              onclick="initiateDelete('{{ kind }}')">
                          Confirm Delete
                      </button>
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>