{% load modal_tags %}
{% data_base_modal feeding %}
            <div class="form-group">
                <label for="feeding_type">Type of feeding</label>
                <select class="form-control" name="type" id="feeding_type" data-default_entry="{{ default_feeding_type }}" onchange="feedingTypeChange()">
                {% for t in FEEDING_TYPES %}
                    <option {% if t == default_feeding_type %}selected{% endif %}>{{ t }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="feeding_start">Time</label>
                <input type="time" class="form-control" id="feeding_start" name="start" required>
            </div>
            <div class="form-group amount-form {% if not 'bottle' in default_feeding_type %}dont-show{% endif %}">
                <label for="feeding_amount">Amount (in mL)</label>
                <input type="number" pattern="[0-9]*"  class="form-control" id="feeding_amount" name="amount"
                       {% if 'bottle' in default_feeding_type %}
                       value="{% if default_feeding_amount %}{{ default_feeding_amount }}{% endif %}"
                       required {% endif %}>
            </div>
            <div class="form-group amount-oz-form {% if default_feeding_type != 'soft-food' %}dont-show{% endif %}">
                <label for="feeding_amount_in_oz">Amount (in oz.)</label>
                <input type="number" pattern="[0-9]*" inputmode="decimal"  class="form-control" id="feeding_amount_in_oz" name="amount_in_oz" step="0.1"
                       {% if default_feeding_type == 'soft-food' %}
                       value="{% if default_feeding_amount %}{{ default_feeding_amount }}{% endif %}"
                       required {% endif %}>
            </div>
            <div class="form-group breast-form {% if default_feeding_type != 'breast' and default_feeding_type %}dont-show{% endif %}">
                <label for="feeding_length_of_feeding">Length of boob (in minutes)</label>
                <input type="number" pattern="[0-9]*" inputmode="decimal"  class="form-control" id="feeding_length_of_feeding" name="length_of_feeding"
                    {% if default_feeding_type == 'breast' %}
                       value="{% if default_feeding_amount %}{{ default_feeding_amount }}{% endif %}"
                       required {% endif %}>
            </div>
            <div class="form-group">
                <label for="feeding_extra">Extra notes</label>
                <textarea class="form-control extra-notes" id="feeding_extra" rows="3" name="extra"></textarea>
            </div>
{% end_data_base_modal %}
<script>
    function feedingTypeChange() {
        let input = document.getElementById('feeding_type');
        let form_labels = ['breast-form', 'amount-form', 'amount-oz-form'];
        let doShow = 'amount-form';
        if (input.value === 'breast') {
            doShow = 'breast-form'
        }
        else if (input.value === 'soft-food') {
            doShow = 'amount-oz-form';
        }
        else if (event !== undefined && !in_modal && event.type === 'change') {
            if (input.value === '{{ default_feeding_type }}' && '{{ default_feeding_amount }}' !== 'None') {
                document.getElementById('feeding_amount').value = {{ default_feeding_amount }};
            } else {
                document.getElementById('feeding_amount').value = '';
            }
        }
        form_labels.forEach((label) => {
            if (label !== doShow)
                Array.from(document.getElementsByClassName(label)).forEach((element) => {
                    if (!element.classList.contains('dont-show')) element.classList.add('dont-show')
                    Array.from(element.children).forEach((child) => {
                        if (child.tagName === 'INPUT') child.removeAttribute('required');
                    })
                })
        })
        Array.from(document.getElementsByClassName(doShow)).forEach((element) => {
            element.classList.remove('dont-show')
            Array.from(element.children).forEach((child) => {
                if (child.tagName === 'INPUT') child.toggleAttribute('required');
            })
        })
    }
</script>