{% load modal_tags %}
<script>
    function poopCheckbox(event) {
        event.preventDefault();
        let kind = event.target.name.replace("poop-", "");
        let poopType = document.getElementById('poop_type');
        let order = {% autoescape off %}{{ POOP_TYPES }}{% endautoescape %};
        order.forEach((e) => {
            let elem = document.getElementById('poop-' + e);
            if (order.indexOf(e) > order.indexOf(kind)) {
                elem.checked = false;
                elem.parentElement.classList.remove('active');
            } else {
                elem.checked = true;
                elem.parentElement.classList.add('active');
                poopType.value = kind;
            }
        })
    }
    $(document).ready(function() {
        $('.poop-checkbox').change(poopCheckbox);
    });
</script>
{% data_base_modal poop %}
            <div class="form-group row" style="margin-bottom:1em;">
                <label class="col-4 col-md-3" for="poop_type" style="padding-left:0;padding-top:8px;">Size of poop</label>
                <input type="hidden" id="poop_type" name="type" value="small" required>
                <div class="col-8 col-md-9 btn-group btn-group-toggle" style="cursor:pointer;">
                    {% for t in POOP_TYPES %}
                    <label class="btn btn-light{% if forloop.counter0 == 0%} active{% endif %}" style="cursor:pointer">
                        <input type="checkbox" class="poop-checkbox" name="poop-{{ t }}" id="poop-{{ t }}" autocomplete="off"{% if forloop.counter0 == 0 %} checked{% endif %}>💩
                    </label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="poop_start">Time</label>
                <input type="time" class="form-control" id="poop_start" name="start" required>
            </div>
            <div class="form-group">
                <label for="poop_diaper_size">Diaper Size</label>
                <select class="form-control" name="diaper_size" id="poop_diaper_size" data-default_entry="{{ DEFAULT_DIAPER_SIZE }}">
                {% for t in DIAPER_SIZES %}
                    <option {% if t == DEFAULT_DIAPER_SIZE %}selected{% endif %}>{{ t }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group custom-control custom-switch">
                <input type="checkbox" name="blowout" class="custom-control-input" id="poop_blowout" value="true">
                <label class="custom-control-label" for="poop_blowout">Blowout?</label>
            </div>
            <div class="form-group">
                <label for="poop_extra">Extra notes</label>
                <textarea class="form-control extra-notes" id="poop_extra" rows="3" name="extra"></textarea>
            </div>
{% end_data_base_modal %}