{% load modal_tags %}
{% data_base_modal sleep %}
                <div class="form-group">
                    <label for="sleep_type">Type of sleep</label>
                    <select class="form-control" name="type" id="sleep_type" data-default_entry="{{ SLEEP_TYPES|first }}">
                        {% for t in SLEEP_TYPES %}
                            <option>{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="sleep_start">Start</label>
                    <input type="time" class="form-control" id="sleep_start" name="start" required>
                </div>
                <div class="form-group">
                    <label for="sleep_end">End</label>
                    <input type="time" class="form-control" id="sleep_end" name="end">
                </div>
                <div class="form-group">
                    <label for="sleep_temperature">Temperature (°F)</label>
                    <input type="number" pattern="[0-9]*"  class="form-control" id="sleep_temperature" name="temperature">
                </div>
                <div class="form-group">
                    <label for="sleep_extra">Extra notes</label>
                    <textarea class="form-control extra-notes" id="sleep_extra" rows="3" name="extra"></textarea>
                </div>
{% end_data_base_modal %}