{% load names %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    {% include 'top_static.html' %}
    <title>{{ BABY_NAME|possessive }} Photos</title>
    <link href="{% static 'css/users.css' %}" rel="stylesheet">
</head>
<body>
<div class="container outer-container">
    <div class="row vertical-center">
        {% if messages %}
            <div class="col-12">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-12 text-center">
                <p style="color:white">Nothing to note at this time.</p>
            </div>
        {% endif %}
        <div class="col-12 text-center">
            <p style="color:white">If you would like to be added back please let us know!</p>
        </div>
    </div>
</div>
{% include 'bottom_static.html' %}
</body>
</html>