{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block title %}{{ BABY_NAME|possessive }} Photos: Forgot Password?{% endblock %}
{% if not request.user.is_authenticated %}{% block navbar %}{% endblock %}{% endif %}
{% block extra_head %}<link href="{% static 'css/users.css' %}" rel="stylesheet">{% endblock %}
{% block nav_links %}{% endblock %}
{% block alt_content %}
<div class="container outer-container">
    <div class="row vertical-center">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="card" style="text-align:left">
                    <div class="card-header">
                        <p>Enter your email and we'll send a password reset email.</p>
                    </div>
                    <div class="card-body" style="">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control"
                                   id="email" name="email"
                                   placeholder="Enter email" required/>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row mx-auto text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}