{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block title %}{{ BABY_NAME|possessive }} Photos: Login to continue{% endblock %}
{% if not request.user.is_authenticated %}{% block navbar %}{% endblock %}{% endif %}
{% block extra_head %}<link href="{% static 'css/users.css' %}" rel="stylesheet">{% endblock %}
{% block nav_links %}{% endblock %}
{% block alt_content %}
<div class="container outer-container">
    <div class="row vertical-center">
        {% include 'messages.html' %}
        <div class="col-12 text-center">
        {% if request.user.is_authenticated %}
            <p style="color:white">User already logged in</p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <div class="card" style="text-align:left;">
                    <div class="card-header" style="text-align:center;">
                        <h5 class="card-title">Please Login to continue</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control"
                                   id="email" name="email"
                                   placeholder="Enter email" required/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" name="password"
                                   aria-describedby="passwordHelp"
                                   placeholder="Password" required/>
                            <small id="passwordHelp" class="form-text text-muted">
                                <a href="{% url 'user_forgot_password' %}">Forgot Password?</a></small>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row mx-auto text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block extra_footer %}
    <script src="{% static 'js/submit_buttons_v2.js' %}"></script>
{% endblock %}