{% load humanize %}
<div class="modal fade" data-backdrop="static" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to logout?</p>
          <small>If you close the tab instead of logging out, you will stay signed in for another
              {{ request.session.get_expiry_date|naturaltime }}.</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hide</button>
        <a href="{% url 'user_logout' %}" class="btn btn-primary">Logout</a>
      </div>
    </div>
  </div>
</div>