{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block nav_header %}{% block title %}{{ BABY_NAME|possessive }} Photos{% endblock %}{% endblock %}
{% block extra_head %}<link href="{% static 'css/users.css' %}" rel="stylesheet">{% endblock %}
{% if not request.user.is_authenticated %}{% block navbar %}{% endblock %}{% endif %}
{% block bottom_jumbotron %}{% endblock %}
{% block alt_content %}
<div class="container outer-container">
    <div class="row vertical-center">
        {% if messages %}
        {% include 'messages.html' %}
        {% else %}
            <div class="col-12 text-center">
                <p style="color:white">Nothing to note at this time.</p>
            </div>
        {% endif %}
        <div class="col-12 text-center mt-5">
            <a type="button" class="btn btn-primary" href="/">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}