{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block title %}{{ BABY_NAME|possessive }} Photos: Forgot Password?{% endblock %}
{% block nav_header %}Forgot Password?{% endblock %}
{% block extra_head %}<link href="{% static 'css/users.css' %}" rel="stylesheet">{% endblock %}
{% if not request.user.is_authenticated %}{% block navbar %}{% endblock %}{% endif %}
{% block alt_content %}
<div class="container outer-container">
    <div class="row vertical-center">
        {% include 'messages.html' %}
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="card" style="text-align:left">
                    <div class="card-header" style="text-align:center">
                        <p>Enter a new password:</p>
                    </div>
                    <div class="card-body" style="">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control"
                                   id="password" name="password"
                                   placeholder="New password" required/>
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" class="form-control"
                                   id="confirm_password" name="confirm_password"
                                   placeholder="Confirm password" required/>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row mx-auto text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}