{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block title %}{{ BABY_NAME|possessive }} Photos: Set Password{% endblock %}
{% block navbar %}{% endblock %}
{% block extra_head %}<link href="{% static 'css/users.css' %}" rel="stylesheet">{% endblock %}
{% block alt_content %}
<div class="container outer-container">
    <div class="row vertical-center">
        {% include 'messages.html' %}
        <div class="col-12 text-center">
            <form method="post">
                {% csrf_token %}
                <div class="card" style="text-align:left">
                    <div class="card-header" style="text-align:center">
                        <h5 class="card-title">Set Password</h5>
                    </div>
                    <div class="card-body" style="">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control"
                                   id="email" name="email"
                                   value="{{ email }}" required readonly/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control"
                                   id="password" name="password"
                                   placeholder="Password" required/>
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Confirm Password</label>
                            <input type="password" class="form-control"
                                   id="password_confirm" name="password_confirm"
                                   placeholder="Confirm Password" required/>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row mx-auto text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}