{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block extra_head %}<link href="{% static 'css/users.css' %}" rel="stylesheet">{% endblock %}
{% block bottom_jumbotron %}{% endblock %}
{% block nav_links %}
    {% if not HIDE_PHOTOS %}
        {% if DEFAULT_PAGE != 'Photos' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'photos_main' %}">Photos</a>
        </li>
        {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'photos_upload' %}">Upload</a>
    </li>
    {% endif %}
    {% if not HIDE_DATA %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_dashboard' %}">Data</a>
    </li>
    {% endif %}
    {% if not HIDE_REGISTRY %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registry_page' %}">Registry</a>
    </li>
    {% endif %}
    {% if request.user.is_staff %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'user_create' %}">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/auth/user">Admin</a>
    </li>
    {% endif %}
{% endblock %}
{% block messages %}{% endblock %}
{% block content %}
    <div class="row" style="height:80%;justify-content: center">
        {% include 'messages.html' %}
        <div class="col-12 col-lg-6 col-md-8 align-self-center">
        {% if verification_url %}
            <div class="col-12 text-center" style="margin-bottom:2em;margin-top:1em;color:black">
                <div class="card mb-3" style="background-color:#73ff93!important">
                    <div class="card-header"><h5 class="card-title">User created!</h5></div>
                    <div class="card-body">
                        <div class="input-group">
                            <label for="verification_url">{{ created_user }}</label>
                            <input class="form-control" type="text" value="{{ verification_url }}" id="verification_url"
                                   readonly>
                            <div class="input-group-append">
                                <button class="form-control" onclick="copy_URL()" id="copy_button">
                                    Copy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-12 text-center" style="color:black;padding-top:1em;padding-left:0;padding-right:0;">
            <div class="card" style="text-align:left">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-header">
                        <h5 class="card-title" style="text-align:center">Create a{% if verification_url %}nother{% endif %} user</h5>
                    </div>
                    <div class="card-body" style="">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control"
                                   id="email" name="email"
                                   placeholder="Enter email" required/>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control"
                                   id="first_name" name="first_name"
                                   placeholder="First Name" required/>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control"
                                   id="last_name" name="last_name"
                                   placeholder="Last Name" required/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-6" style="padding-left:0">
                                    <label for="expiration">Expiration (days)</label>
                                    <input type="text" class="form-control"
                                           id="expiration" name="expiration" value="20"
                                           placeholder="Expiration (days)" required/>
                                </div>
                                <div class="col-6 col-md-3" style="text-align:center;margin-top:1em">
                                    <input type="checkbox" class="form-control"
                                           id="send_email" name="send_email" checked {% if iOS %}style="margin-left:2em"{% endif %}/>
                                    <label for="send_email">Send email</label>
                                </div>
                                <div class="col-6 col-md-3" style="text-align:center;margin-top:1em">
                                    <input type="checkbox" class="form-control"
                                           id="digest_opt_out" name="digest_opt_out" {% if iOS %}style="margin-left:2em"{% endif %}/>
                                    <label for="digest_opt_out">Digest Opt-Out</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row mx-auto text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <b>Send Email</b>:
            <small>
                Sending an email is the easiest way to let the user sign up. If you choose to
                not send an email you will be presented with a link you can copy and paste and
                send to the user in another way, such as a text.
            </small>
        </div>
        <hr>
        <div class="col-12" style="margin-bottom:10rem">
            <b>Digest Opt-Out</b>:
            <small>
                By default users get an email daily announcing new photos and videos from the previous day.
                If the user does not want to get the email, they can click the "opt-out" link at the bottom of their
                email. Alternatively, you can add them to the Opt-Out table at the onset by checking the box.
            </small>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_footer %}<script src="{% static 'js/user_create.js' %}"></script>{% endblock %}