<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" style="color:black">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Filter & Sort</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="get">
                <div class="modal-body" style="background-color:lightgoldenrodyellow">
                    <div class="form-group">
                        <label for="sort_by_select">Sort by</label>
                        <select class="form-control" id="sort_by_select" name="sort_by">
                            <option {% if sort_by_select == 'Created Time' %}selected{% endif %}>Created Time</option>
                            <option {% if sort_by_select == 'Uploaded Time' %}selected{% endif %}>Uploaded Time</option>
                        </select>
                    </div>
                </div>
                <div class="modal-body" style="background-color:aliceblue">
                    <h4>Filters</h4>
                    <div class="row justify-content-md-center">
                        <div class="col text-center">
                            <input type="hidden" name="last_visit" id="new_last_visit" value="{{ last_visit }}">
                            <label for="new_only_checkbox">New Only</label>
                            <input type="checkbox" class="form-control" id="new_only_checkbox" name="new_only_checkbox"
                                   {% if new_only_checkbox %}checked=""{% endif %} {% if iOS %}style="margin-left:3em"{% endif %}>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="by_user_select">By user</label>
                                <select class="form-control" id="by_user_select" name="by_user">
                                    <option>All</option>
                                    {% for user in users_for_filter %}
                                    <option value="{{ user.id }}" {% if user_selected == user.id %}selected{% endif %}>{{ user.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row no-gutters" style="width:100%">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col text-center">
                            <a href="{% url 'photos_main' %}" class="btn btn-info" role="button">Clear</a>
                        </div>
                        <div class="col text-right">
                            <button type="submit" class="btn btn-primary">Go</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>