    <div class="fab-container position-fixed bottom-0 right-0 p-3" data-toggle="modal" data-target="#filterModal" style="z-index: 1049; right: 0; bottom: 0;">
        <div class="fab shadow">
            <div class="fab-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                  <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
        </div>
    </div>
    <div id="arrow-top" class="fab-container position-fixed bottom-0 right-0 p-3" style="z-index: 1049; right: 0; bottom: 80px; display:none" onclick="scrollToTop()">
        <div class="fab shadow">
            <div class="fab-content">
                <svg id="scroll_arrow" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
                </svg>
            </div>
        </div>
    </div>