{% extends 'base_template.html' %}
{% load signed_urls %}
{% load static %}
{% load names %}
{% block nav_header %}{% block title %}{{ BABY_NAME|possessive }} Photos{% endblock %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/photos_v5.css' %}">
    <link href="https://static.owlkins.com/v1/photoswipe/photoswipe.css" rel="stylesheet">
    <link href="https://static.owlkins.com/v1/photoswipe/default-skin/default-skin.css" rel="stylesheet">
    <script>
        let last_visit;
        {% if last_visit %}last_visit = {{ last_visit }};{% endif %}
        let user = {{ request.user.id }};
        let last_update = {{ last_update }};
    </script>
{% endblock %}
{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'photos_upload' %}">Upload</a>
    </li>
    {% if not HIDE_DATA %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_dashboard' %}">Data</a>
    </li>
    {% endif %}
    {% if not HIDE_REGISTRY %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registry_page' %}">Registry</a>
    </li>
    {% endif %}
    {% if request.user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_create' %}">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/photos/photo">Admin</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
    {% include 'photos/photo_cards.html' %}
    {% include 'photos/floating_action_buttons.html' %}
    {% include 'photos/toast_update.html' %}
    {% include 'photos/filter_modal.html' %}
{% endblock %}
{% block extra_footer %}
    {% include 'bottom_static_photo.html' %}
    {% include "photos/photoswipe.html" %}
    <script>
        let initialTime = new Date();
        function checkMonitoringInterval() {
            let minutes = Math.abs((initialTime - new Date()) / 1000 / 60);
            if (minutes >= 10) {
                initialTime = new Date();
                monitorUpdates()
            }
        }
        async function monitorUpdates() {
            try {
                let r = await fetch('/photos/check_last_update' + window.location.search.replace("?", ""));
                let j = await r.json();
                if (j['last_update'] !== last_update) {
                    $('#refresh_toast').toast('show');
                }
            } catch (e) {
                Sentry.captureException(e)
            }
        }
        setInterval(checkMonitoringInterval, 7000);
        function toastReload() {
            let d = document.getElementById('refresh_toast_body');
            d.style.cursor = '';
            let spinner = document.createElement('div');
            spinner.className = 'spinner-border spinner-border-sm';
            let span = document.createElement('span');
            span.innerText = ' Refreshing...';
            d.innerText = '';
            d.appendChild(spinner);
            d.appendChild(span);
            location.reload();
        }
        let in_scroll_to_top = false;

        let scrollTimer = -1;
        window.onscroll = function () {
          if (in_scroll_to_top) return
          let arrow = document.getElementById('arrow-top');
          let position = document.documentElement.scrollTop;
          if (position > 100) {
              arrow.classList.add('fade-in');
              arrow.style.display = '';
              arrow.classList.remove('fade-out');
          } else if (arrow.classList.contains('fade-in')){
              arrow.classList.add('fade-out');
              arrow.style.display = '';
              arrow.classList.remove('fade-in');
          }
          document.getElementById('scroll_arrow').style.fill = 'lightgrey';
          if (scrollTimer !== -1)
              clearTimeout(scrollTimer);

          scrollTimer = window.setTimeout("scrollFinished()", 90);
        };
        function scrollFinished() {
          document.getElementById('scroll_arrow').style.fill = 'white';
        }
        function scrollToTop() {
                in_scroll_to_top = true;
                let arrow = document.getElementById('arrow-top');
                arrow.style.display='none';
                arrow.classList.remove("fade-in");
                document.querySelector('.navbar').scrollIntoView({behavior: 'smooth'});
                setTimeout(()=>{
                    in_scroll_to_top=false;
                    }, 2000)

        }
    </script>
    <script src="{% static 'js/load_photos_for_month_v10.js' %}"></script>
    <script>
    function scrollIntoViewIfNeeded(element, offset = 0) {
      if (!element) return;

      function doScroll() {
        const rect = element.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        const documentHeight = Math.max(
          document.body.scrollHeight,
          document.body.offsetHeight,
          document.documentElement.clientHeight,
          document.documentElement.scrollHeight,
          document.documentElement.offsetHeight
        );

        // Calculate the target scroll position
        let targetTop = window.pageYOffset + rect.top - (windowHeight / 2) + (rect.height / 2) - offset;

        // Ensure we don't scroll beyond the document's boundaries
        targetTop = Math.max(0, Math.min(targetTop, documentHeight - windowHeight));

        // Perform the scroll
        window.scrollTo(0, targetTop);
      }

      if (element.tagName.toLowerCase() === 'img') {
        if (element.complete) {
          doScroll();
        } else {
          element.addEventListener('load', doScroll, { once: true });
          element.addEventListener('error', doScroll, { once: true });
        }
      } else {
        doScroll();
      }
    }
    </script>
    <script src="{% static 'js/open_photo_swipe_v23.js' %}"></script>
{% endblock %}