{% for month, values in months.items %}
    <div class="card month-card" style="background-color:{{ month_colors|keyvalue:month }};">
        <div class="card-header">
            <div class="row">
                <div class="col-10 col-sm-11" id="{{ month }}"
                     data-toggle="collapse" data-target="#collapse_{{ forloop.counter0 }}" style="cursor:pointer">
                    <h5 class="card-title">{{ month }}</h5>
                </div>
                <div class="col-1 text-right">
                    <button class="btn btn-light expand-button" type="button" data-toggle="collapse"
                            data-target="#collapse_{{ forloop.counter0 }}" aria-expanded="false"
                            aria-controls="collapse_{{ forloop.counter0 }}">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body collapse {% if forloop.counter0 == 0 %}show{% endif %}" id="collapse_{{ forloop.counter0 }}">
            <div class="row">
                {% for photo, index in values %}
                    <div class="col-12 col-md-4">
                        <div class="card image-card" {% if photo.image %}onclick="openPhotoSwipe(index={{ index }})"{% endif %}>
                            {% if photo.image %}
                                <img class="card-img-top" src="{{ photo.image_thumbnail.url|sign_url }}" alt="Card image cap">
                            {% elif photo.video %}
                                <video width="326" height="188" controls preload="{% if forloop.parentloop.counter0 != 0 %}metadata{% elif forloop.counter0 > 10 %}metadata{% else %}auto{% endif %}">
                                    <source src="{{ photo.video.url|sign_url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                            {% if last_visit and photo.uploaded_time|to_timestamp > last_visit %}
                                <div class="corner-ribbon top-left red shadow">New</div>
                            {% endif %}
                            {% if photo.uploaded_by == request.user %}
                                <div class="corner-ribbon top-right yellow shadow">Yours</div>
                            {% endif %}
                            <div class="card-body image-card-body">
                                <p class="card-text">
                                    {% if photo.uploaded_by.first_name %}From:
                                        {{ photo.uploaded_by.first_name }}, {% endif %}{{ photo.created_time }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}