{% load names %}
{% load signed_urls %}
        <div class="container" style="padding:15px;color:#401248;">
            {% for month in months %}
                <div class="card"
                     style="background-color:{{ month_colors|keyvalue:month }};margin-top:1em;margin-bottom:1em;border-radius:1em">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10 col-sm-11" data-toggle="collapse"
                                 id="{{ month }}"
                                 data-target="#collapse_{{ forloop.counter0 }}" style="cursor:pointer">
                                <h5 class="pr-1" style="display:inline;font-weight: 700;{% if 'December' in month or 'November' in month %}color:whitesmoke{% endif %}">{{ month }}</h5>
                                {% if forloop.counter0 == 0 %}
                                <div class="spinner-border text-light spinner-border-sm photoswipe-loading" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-1 text-right">
                                <button class="btn btn-light" type="button" data-toggle="collapse"
                                        data-target="#collapse_{{ forloop.counter0 }}" aria-expanded="false"
                                        aria-controls="collapse_{{ forloop.counter0 }}" style="border-radius:1em">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body collapse p-0 pt-3 {% if forloop.counter0 == 0 %}show{% endif %}"
                         id="collapse_{{ forloop.counter0 }}">
                        <div class="row">
                                <div class="col-12 text-center">
                                    <div class="spinner-border text-dark loading-placeholder" data-month_year="{{ month }}" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                    <div id="warning-for-loading-placeholder-{{ month }}" style="display:none">
                                        <p style="color:{% if 'September' in month %}white{% else %}#c55555{% endif %}">
                                            There was a problem loading, trying again in 10 seconds.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                {% if photos_present %}
                <div class="card mt-5 mb-5">
                    <div class="card-header pt-5 pb-5 text-center">No photos for that filter!</div>
                    <div class="card-body pt-5 pb-5 text-center"><a class="btn btn-primary" href="{% url 'photos_main' %}">Clear filter</a></div>
                </div>
                {% else %}
                <div class="card mt-5 mb-5">
                    <div class="card-header pt-5 pb-5 text-center">No photos yet!</div>
                    <div class="card-body pt-5 pb-5 text-center">To get started, <a href="{% url 'photos_upload' %}">upload some photos</a>.</div>
                </div>
                {% endif %}
            {% endfor %}
        </div>