    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 1499; right: 0; top: 0;">
      <div id="refresh_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded mr-2" onclick="toastReload();" style="cursor:pointer;" width="20" height="20" xmlns="http://www.w3.org/2000/svg" role="img" aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false">
              <title> </title><rect width="100%" height="100%" fill="#007aff"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"> </text>
          </svg>
          <strong class="mr-auto" onclick="toastReload();" style="cursor:pointer">There are new photos!</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="refresh_toast_body" onclick="toastReload()" style="cursor:pointer;color:black">
          Click to refresh
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
              <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
        </div>
      </div>
      <div id="photos_loading_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <svg class="bd-red rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" role="img" aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false">
              <title> </title><rect width="100%" height="100%" fill="#c55555"></rect><text x="50%" y="50%" fill="#c55555" dy=".3em"> </text>
          </svg>
          <strong class="mr-auto" style="cursor:pointer">Loading...</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="refresh_toast_body" style="cursor:pointer;color:black">
          Photo details still loading, one second!
        </div>
      </div>
      <div id="gallery_loading_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <svg class="bd-yellow rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" role="img" aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false">
              <title> </title><rect width="100%" height="100%" fill="#ffee00"></rect><text x="50%" y="50%" fill="#ffee00" dy=".3em"> </text>
          </svg>
          <strong class="mr-auto" style="cursor:pointer">Loading...</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="refresh_toast_body" style="cursor:pointer;color:black">
          Gallery still loading, will open <span id="gallery_loading_toast_id">selected photo</span> once ready.
        </div>
      </div>
    </div>