{% extends 'base_template.html' %}
{% load signed_urls %}
{% load static %}
{% load names %}
{% block nav_header %}{% block title %}{{ BABY_NAME|possessive }} Photos{% endblock %}{% endblock %}
{% block extra_head %}<link href="{% static 'css/upload.css' %}" rel="stylesheet">{% endblock %}
{% block bottom_jumbotron %}{% endblock %}
{% block nav_links %}
    <li class="nav-item active">
        <a class="nav-link" href="/photos/upload">Upload</a>
    </li>
    {% if not HIDE_DATA %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_dashboard' %}">Data</a>
    </li>
    {% endif %}
    {% if not HIDE_REGISTRY %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registry_page' %}">Registry</a>
    </li>
    {% endif %}
    {% if request.user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_create' %}">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/photos/photo">Admin</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row" style="height:80%;justify-content: center;padding-top:1em">
        <div class="col-12 col-lg-6 col-md-8 align-self-center">
            <div class="container" id="upload-warning" style="display:none;">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Problem uploading a file, trying again, up to 50 times.
                </div>
            </div>
            <div class="container" id="upload-fail" style="display:none;">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Couldn't upload a file. Sorry about that!
                </div>
            </div>
            <div class="card" style="color:#401248;">
                <div class="card-header">
                    <h5 class="card-title" style="font-weight: 700">Upload photos</h5>
                </div>
                <div class="card-body">
                    <div class="row" id="spinner-row" style="display:none">
                        <div class="col-12 text-center">
                            <div class="spinner-border text-center" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div id="drop-area">
                        <form class="my-form" style="justify-content: center">
                            {% csrf_token %}
                            <p>Upload multiple files with the file dialog or by dragging and dropping images onto
                                the dashed region</p>
                            <input type="file" id="fileElem" multiple accept="image/*,video/*,video/mp4,video/x-m4v"
                                   onchange="handleFiles(this.files)">
                            <label class="button" for="fileElem">Select some files</label>
                        </form>
                        <label class="upload-bar" for="upload-bar" style="display:none">Uploading to server</label>
                        <progress class="upload-bar" id="upload-bar" max=100 value=0 style="width:100%;display:none"></progress>
                        <label class="finished-bar" for="finished-bar" style="display:none">Processing on server</label>
                        <progress class="finished-bar" id="finished-bar" max=100 value=0 style="width:100%;display:none"></progress>
                        <div id="gallery" class="hidden-md-down"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-lg-6 col-md-8 align-self-center" style="margin-bottom:10rem">
            <small>Two progress bars will display to help track how things are going: one for uploading content from your
            device to the server, and another for processing on the server before the files are ready to be
                displayed.
            <ul>
                <li>Photos are processed such that a thumbnail is created alongside the original. The thumbnail
                is a smaller resolution and will be displayed on the main page, and the original full resolution
                will be displayed in the detail view.</li>
                <li>Videos take longer to process, and the UI will show upload success prior to a video finishing
                processing. On average you can expect a video to finish processing in 4 to 5 minutes.
                When returned to the main screen, you'll see a "Pending Processing" image in place of the video
                until it is finished processing. Videos are processed to produce a more compatible format that
                most users can see, to move certain metadata to the front of the file to help stream the video
                over the internet, and to produce a thumbnail for the video based on the first frame.</li>
            </ul>
            <b>Warning:</b> If you are uploading from a phone, make sure the phone stays awake for the entirety
            of the upload. If the phone falls asleep before both progress bars finish, the upload will fail.
            </small>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    {% include 'bottom_static_photo.html' %}
    <script src="{% static 'js/upload_script_v10.js' %}"></script>
{% endblock %}