{% extends 'base_template.html' %}
{% load static %}
{% load humanize %}
{% load names %}
{% block nav_header %}{% block title %}{{ BABY_NAME|possessive }} Progress{% endblock %}{% endblock %}
{% block nav_header_url %}{% url 'data_dashboard' %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/photos_v5.css' %}">
    <link rel="stylesheet" href="{% static 'css/trending.css' %}">
    <script>
        let iOS{% if iOS %} = true{% endif %};
        let start_date = '{{ start_date|date:'Y-m-d' }}';
        let end_date = '{{ end_date|date:'Y-m-d' }}';
    </script>
    <script>
        window.addEventListener("load", (event) => {
            var amountCtx = document.getElementById('amount_chart').getContext('2d');
            var amountChart = new Chart(amountCtx, {
                type: 'bar',
                data: {
                    labels: {% autoescape off %}{{ amount_chart_labels }}{% endautoescape %},
                    datasets: [
                        {
                            type: 'line',
                            fill: false,
                            label: 'Moving average ({{ MOVING_AVG_DAYS }} days)',
                            data: {% autoescape off %}{{ moving_average_per_day }}{% endautoescape %}
                        },
                        {% for feeding_type, color, data in amount_per_day %}
                            {
                                label: '{{ feeding_type }}',
                                backgroundColor: '{{ color }}',
                                data: {% autoescape off %}{{ data }}{% endautoescape %}
                            },
                        {% endfor %}
                    ]
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    title: {
                        display: true,
                        text: 'Total nutrition per day (oz.)',
                    },
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true
                        }],
                    },
            {# https://github.com/chartjs/chartjs-plugin-zoom #}
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'x',
                                speed: 20,
                                threshold: 10,
                            },
                            zoom: {
                                enabled: true,
                                drag: {
                                    borderColor: 'rgba(225,225,225,0.3)',
                                    borderWidth: 5,
                                    backgroundColor: 'rgb(225,225,225)',
                                    animationDuration: 0
                                },
                                mode: 'x',
                                threshold: 1,
                                sensitivity: 2,
                            }
                        }
                    }
                }
            });
            var binCtx = document.getElementById('time_bin_chart').getContext('2d');
            var binChart = new Chart(binCtx, {
                type: 'horizontalBar',
                data: {
                    labels: {% autoescape off %}{{ feeding_time_binned_labels }}{% endautoescape %},
                    datasets: [{
                        label: '# of feedings',
                        data: {% autoescape off %}{{ feeding_time_binned }}{% endautoescape %},
                        borderWidth: 1,
                        backgroundColor: [
                            {% for r, g, b in FEEDING_BIN_COLORS %}
                             'rgba({{r}}, {{g}}, {{b}}, 0.2)',
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for r, g, b in FEEDING_BIN_COLORS %}
                             'rgba({{r}}, {{g}}, {{b}}, 1)',
                            {% endfor %}
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: false,
                    },
                    legendCallback: function (chart) {
                        var text = [];
                        text.push('<ul class="bin-legend">');
                        {% for type, color in FEEDING_BIN_COLOR_TYPES.items %}
                            text.push('<li><span style="background-color:' +
                                'rgba({{color.0}}, {{color.1}}, {{color.2}}, 0.2)' +
                                '"></span>');
                            text.push('{{ type }}');
                            text.push('</li>');
                        {% endfor %}
                        text.push('</ul>');
                        console.log(text.join(''))
                        return text.join('');
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            $("#bin-legend").html(binChart.generateLegend())
            var typeCtx = document.getElementById('type_chart').getContext('2d');
            var typeChart = new Chart(typeCtx, {
                type: 'bar',
                data: {
                    labels: {% autoescape off %}{{ amount_chart_labels }}{% endautoescape %},
                    datasets: [
                        {% for feeding_type, color, data in feeding_types_per_day %}
                            {
                                label: '{{ feeding_type }}',
                                backgroundColor: '{{ color }}',
                                data: {% autoescape off %}{{ data }}{% endautoescape %}
                            },
                        {% endfor %}
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Count of feedings per day'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true
                        }],
                    },
            {# https://github.com/chartjs/chartjs-plugin-zoom #}
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'x',
                                speed: 20,
                                threshold: 10,
                            },
                            zoom: {
                                enabled: true,
                                drag: {
                                    borderColor: 'rgba(225,225,225,0.3)',
                                    borderWidth: 5,
                                    backgroundColor: 'rgb(225,225,225)',
                                    animationDuration: 0
                                },
                                mode: 'x',
                                threshold: 1,
                                sensitivity: 2,
                            }
                        }
                    }
                }
            });
        })
    </script>
{% endblock %}
{% block nav_links %}
    {% include 'data/trending/trending_nav_links.html' with nav_url_for_reset='trending_feeding' %}
{% endblock %}
{% block content %}
<div class="row justify-content-md-center" style="color:black;">
    <div class="col-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <canvas id="amount_chart" style="height:25em" class="table"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <canvas id="type_chart" style="height:30em" class="table"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="bin-title">Feedings binned to 30 minute windows</div>
                    <div id="bin-legend" class="bin-legend"></div>
                    <canvas id="time_bin_chart" style="height:50em" class="table"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_footer %}
    {% include 'data/trending/trending_js.html' %}
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
{% endblock %}