{% extends 'base_template.html' %}
{% load static %}
{% load names %}
{% block nav_header %}{% block title %}{{ BABY_NAME|possessive }} Progress{% endblock %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/photos_v5.css' %}">
    <link rel="stylesheet" href="{% static 'css/trending.css' %}">
{% endblock %}
{% block nav_links %}
    {% include 'data/trending/trending_nav_links.html' with nav_url_for_reset='trending_feeding' %}
{% endblock %}
{% block content %}
<div class="row justify-content-md-center" style="color:black;margin-top:4em;margin-bottom:4em;">
    <div class="col-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><h4>Trending for "{{ trending_type }}"</h4></div>
                When you fill in data for type <b>{{ trending_type }}</b>, then graphs will be displayed here that
                allow you to track the data trends over time.
            </div>
        </div>
    </div>
</div>
{% endblock %}