{% extends 'base_template.html' %}
{% load static %}
{% load humanize %}
{% load names %}
{% block nav_header %}{% block title %}{{ BABY_NAME|possessive }} Progress{% endblock %}{% endblock %}
{% block nav_header_url %}{% url 'data_dashboard' %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/photos_v5.css' %}">
    <link rel="stylesheet" href="{% static 'css/trending.css' %}">
    <script>
        let iOS{% if iOS %} = true{% endif %};
        let start_date = '{{ start_date|date:'Y-m-d' }}';
        let end_date = '{{ end_date|date:'Y-m-d' }}';
    </script>
    <script>
        window.addEventListener("load", (event) => {
            var amountCtx = document.getElementById('amount_chart').getContext('2d');
            var amountChart = new Chart(amountCtx, {
                type: 'bar',
                data: {
                    labels: {% autoescape off %}{{ amount_chart_labels }}{% endautoescape %},
                    datasets: [{
                        label: 'amount of poop',
                        data: {% autoescape off %}{{ amount_per_day }}{% endautoescape %},
                        backgroundColor: {% autoescape off %}{{ amount_per_day_colors }}{% endautoescape %},
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false,
                    },
                    legendCallback: function(chart) {
                        var text = [];
                        text.push('<ul class="bin-legend">');
                        text.push('<li><span style="background-color:' +
                                    'red' +
                                   '"></span>');
                        text.push('blowout');
                        text.push('</li>');
                        text.push('</ul>');
                        console.log(text.join(''))
                        return text.join('');
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            $("#amount-legend").html(amountChart.generateLegend())
            var binCtx = document.getElementById('time_bin_chart').getContext('2d');
            var binChart = new Chart(binCtx, {
                type: 'horizontalBar',
                data: {
                    labels: {% autoescape off %}{{ poop_time_binned_labels }}{% endautoescape %},
                    datasets: [{
                        label: '# of poops',
                        data: {% autoescape off %}{{ poop_time_binned }}{% endautoescape %},
                        borderWidth: 1,
                        backgroundColor: [
                            {% for r, g, b in POOP_BIN_COLORS %}
                             'rgba({{r}}, {{g}}, {{b}}, 0.2)',
                            {% endfor %}
                        ],
                        borderColor: [
                            {% for r, g, b in POOP_BIN_COLORS %}
                             'rgba({{r}}, {{g}}, {{b}}, 1)',
                            {% endfor %}
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: false,
                    },
                    legendCallback: function(chart) {
                        var text = [];
                        text.push('<ul class="bin-legend">');
                        {% for type, color in POOP_BIN_COLOR_TYPES.items %}
                            text.push('<li><span style="background-color:' +
                                        'rgba({{color.0}}, {{color.1}}, {{color.2}}, 0.2)' +
                                       '"></span>');
                            text.push('{{ type }}');
                            text.push('</li>');
                        {% endfor %}
                        text.push('</ul>');
                        console.log(text.join(''))
                        return text.join('');
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            $("#bin-legend").html(binChart.generateLegend())
        })
    </script>
{% endblock %}
{% block nav_links %}
    {% include 'data/trending/trending_nav_links.html' with nav_url_for_reset='trending_poop' %}
{% endblock %}
{% block content %}
<div class="row justify-content-md-center" style="color:black;">
    <div class="col-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="bin-title">Daily Poop Score %</div>
                    <div id="amount-legend" class="bin-legend"></div>
                    <canvas id="amount_chart" style="height:25em" class="table"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="bin-title">Occurence of poop binned to 30 minute windows</div>
                    <div id="bin-legend" class="bin-legend"></div>
                    <canvas id="time_bin_chart" style="height:50em" class="table"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_footer %}
    {% include 'data/trending/trending_js.html' %}
{% endblock %}