{% if not HIDE_PHOTOS %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'photos_main' %}">Photos</a>
</li>
{% endif %}
{% if not HIDE_REGISTRY %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'registry_page' %}">Registry</a>
</li>
{% endif %}
{% if request.user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_create' %}">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/data">Admin</a>
    </li>
{% endif %}
<li class="nav-item dropdown" onclick="(event) => {event.stopPropagation();}">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dates
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" id="start_date">Start</a>
        <a class="dropdown-item" href="#" id="end_date">End</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" onclick="window.location='{% url nav_url_for_reset %}'">Reset</a>
    </div>
</li>